<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goodbye</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='DoDeleteAccount.css') }}">
</head>
<body onload="checkmark()">
<div class="container center-align">
    <h1>Goodbye</h1>
    <div class="circle-loader">
        <div class="checkmark draw"></div>
    </div>
    <br>
    <span style="position: relative; bottom: 20px; font-size: x-large">Your account has been deleted</span>
</div>
<script>
    async function checkmark() {
        await sleep(1000);
        $('.circle-loader').toggleClass('load-complete');
        $('.checkmark').toggle();
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

</script>
</body>
</html>