<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo center">Logo</a>
    </div>
</nav>
<form action="/do_login" method="post" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="container">
        <div class="row">
            <div class="input-field col s12">
                <input name="username" id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="remember_me"/>
                    <span>Remember Me</span>
                </label>
            </p>
            <p>Don't have an account yet? <a href="/register">Register now</a></p>
            <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">Log in</button>
        </div>
    </div>
</form>
{% if error == "login" %}
    <script>
        M.toast({html: 'Wrong username or password', displayLength: 5000});
    </script>
{% endif %}
</body>
</html>